@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #0D0F1A;
  color: #E8E6F0;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar       { width: 6px; }
::-webkit-scrollbar-track { background: #0D0F1A; }
::-webkit-scrollbar-thumb { background: #2A2A4A; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #00FF94; }

::selection { background: #00FF9430; color: #00FF94; }